# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Output folders
dist/
build/
optimized/

# System files
.DS_Store
Thumbs.db

# IDE & editor files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak 